@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: orange;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

span {
    color: var(--main-color);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

#nav-menu{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
}
.navlist{
    display: flex;
    align-items: center;
}
.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.menu-btn{
    display: none;
}
.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover {
    color: var(--main-color);
}

/* home section */
section {
    padding: 80px 15% 50px 15%;
}

#home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-text img{
    max-width: 300px;
    height: auto;
    width: 100%;
    border-radius: 5px;
    animation: moveUpDown 4s ease-in-out infinite;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;

}

.home-text h3 {
    color: var(--text-color);
  
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
   
}
.home-text img{
    max-width: 300px;
    height: auto;
    width: 100%;
    border-radius: 5px;
}


@keyframes moveUpDown {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0);
    }
  }

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    
    font-weight: 500;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

/* about */

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
   
}

.about-text h4 {
    
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
   
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    margin-bottom: 4rem;
}

/* skills */

#skills {
    background: var(--second-bg-color);
}

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.skills-card {
    background: transparent;
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.skills-card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.skills-card-icons {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.skills-card-name{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.skills-card-name a{
    background-color: transparent;
    border: 2px solid var(--main-color) ;
    padding: 12px;
    border-radius: 20px;
    color: var(--text-color);
    transition: all .45s ease;
  
}
.skills-card-name a:hover{
    transform: scale(0.9);
} 


/* projects */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), orange);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-color);
    font-size: 15px;
    line-height: 1.8;

}
.layer h4{
    
    font-size: 15px;
    line-height: 1.8;
}

.project-card:hover img {
    transform: scale(1.1);

}

.project-card:hover .layer {
    height: 100%;
}


.project-github-link ,.project-deployed-link {
    display: inline-block;
    padding: 12px;
    background: white;
    border-radius: 50px;
    color: var(--main-color);
    font-size: 1rem;
    
    font-weight: 500;
    transition: all .45s ease;
}
.project-github-link:hover ,.project-deployed-link:hover {
    transform: scale(0.9);
}





/* contact */
#contact {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;

}

.list li {
    margin-bottom: 12px;

}

.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    color: var(--text-color);
    transform: translateY(5px);

}

.contact-icons i {
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {

    color: var(--main-color);
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 1000px) {
 
    .navlist {
      display: none;
    }
   
    .logo {
    align-items: center;
  }
  
    /* Home section */
    #home {
        display: flex;
        flex-direction: column-reverse;
     
    }
    .about-text{
    text-align: center;
    }
    
    .skills-card-name a{
        display: flex;
        flex-direction: column;

    }
    #contact{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
  }
  




